$italic: 'Vollkorn',
serif;

.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
  background-color: #373a6d;

  &.overlay {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba($black, .1);
    }
  }

  &.overflow-hidden {
    overflow: hidden;
  }

  &,
  &>.container>.row {
    height: calc(80vh);
    min-height: 400px;

  }

  &.inner-page-cover {

    &,
    &>.container>.row {
      min-height: 400px;
      height: calc(20vh);
    }
  }

  .intro-text {
    @include media-breakpoint-down(md) {
      margin-top: 30%;
    }
  }

  h1 {
    font-size: 3rem;
    color: $white;
    font-weight: 900;

    // text-transform: uppercase;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }

  .cover-img {
    @include media-breakpoint-down(md) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    color: $white;
    font-size: 1.3rem;

    a {
      color: $orange;
    }
  }

  .btn {
    font-size: 1.1rem;
    background-color: transparent !important;
    border-color: rgba($white, .5);

    &:hover,
    &:active,
    &:focus {
      border-color: $white;
      background-color: transparent !important;
    }
  }

}

.h6 {
  text-transform: uppercase;
  font-size: .9rem;
  font-family: $font-family-sans-serif;
}

.bg-light {
  background: #ccc;
}


.block-13,
.slide-one-item {
  position: relative;
  z-index: 1;

  .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);

    .owl-prev,
    .owl-next {
      position: relative;
      display: inline-block;
      padding: 20px;
      font-size: 30px;
      color: $black;

      &.disabled {
        opacity: .2;
      }
    }
  }
}

.owl-style,
.slide-one-item {
  &.home-slider {
    .owl-nav {

      position: absolute !important;
      top: 50% !important;
      bottom: auto !important;
      width: 100%;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .owl-prev {
      left: 10px !important;
    }

    .owl-next {
      right: 10px !important;
    }

    .owl-prev,
    .owl-next {
      color: $white;
      position: absolute !important;
      top: 50%;
      padding: 0px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      transform: translateY(-50%);
      background: rgba($black, .2);
      transition: .3s all ease-in-out;

      line-height: 0;
      text-align: center;
      font-size: 25px;

      @include media-breakpoint-up(md) {
        font-size: 25px;
      }

      >span {
        position: absolute;
        line-height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover,
      &:focus {
        background: rgba($black, 1);
      }
    }

    &:hover,
    &:focus,
    &:active {
      .owl-nav {
        opacity: 10;
        visibility: visible;
      }
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 4px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $gray-300;
      }

      &.active {
        span {
          background: $primary;
        }
      }
    }
  }
}

.bg-primary {
  .owl-style {
    .owl-dots {
      text-align: center;

      .owl-dot {
        display: inline-block;
        margin: 4px;

        span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: rgba($white, .3);
        }

        &.active {
          span {
            background: $white;
          }
        }
      }
    }
  }
}

.owl-style {
  position: relative;

  .owl-nav {
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba($black, .4);

      >span {
        color: $white;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .owl-prev {
      left: -50px;

      @include media-breakpoint-down(md) {
        left: 10px;
      }
    }

    .owl-next {
      right: -50px;

      @include media-breakpoint-down(md) {
        right: 10px;
      }
    }
  }

  &:hover,
  &:focus {
    .owl-nav {
      opacity: 1;
      visibility: visible;
    }
  }
}

.no-sm-border {
  @include media-breakpoint-down(lg) {
    border: none !important;
  }
}

.accordion-item[aria-expanded="true"] {
  color: $primary;
}

.item {
  border: none;

  .item-wrap {
    display: block;
    position: relative;

    &:after {
      z-index: 2;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($black, .4);
      visibility: hidden;
      opacity: 0;
      transition: .3s all ease-in-out;
    }

    >span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(0.0);
      color: $white;
      font-size: 1.7rem;
      opacity: 0;
      visibility: hidden;
      // margin-top: 10px;
      transition: .3s all ease;
    }

    &:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }

      span {
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1.0);
      }
    }
  }
}

figure {
  figcaption {
    margin-top: .5rem;
    font-style: italic;
    font-size: .8rem;
  }
}

.service {
  padding: 30px;

  .icon {
    span {
      color: $primary;
    }
  }

  h3 {
    font-size: 1.2rem;
  }
}

.blog-entry {
  figure {
    flex: 0 0 190px;
  }

  h3 {
    font-size: 1.3rem;

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }
  }

  .blog-entry-text {
    .post-meta {
      color: lighten($black, 70%);
    }
  }
}

.block-testimony-1 {
  padding: 20px;

  blockquote {
    background: #373a6d;
    padding: 30px;
    font-style: italic;
    font-weight: 400;

    border-radius: 7px;
    color: $white;
    font-family: $italic;

    position: relative;

    box-shadow: 0 5px 20px -5px rgba($black, .4);

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-color: rgba(#373a6d, 0);
      border-top-color: #373a6d;
      border-width: 15px;
      margin-left: -15px;
    }
  }

  figure {
    position: relative;
    padding-top: 20px;

    &:before {
      position: absolute;
      content: "";
      width: 50px;
      left: 50%;
      display: none;
      top: 0;
      transform: translateX(-50%);
      background: $primary;
      height: 2px;
    }

    img {
      max-width: 70px;
    }
  }

  h3 {
    font-size: 18px;
  }
}

.no-owl-nav {
  .owl-nav {
    display: none;
  }

  .block-testimony-1 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.owl-style-md {
  .owl-nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}